<% content_for :meta_title, "Synthèse | easy endo" %>
<div class="pb-5 padding-top-navbar min-100-vh-with-footer" data-controller="charts">
  <%= image_tag 'logo.png', class: 'd-none', id: 'logo-pdf' %>
  <div class="container">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="row flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-4 pr-lg-5 d-flex flex-column-reverse flex-lg-column">
          <div class="d-none d-lg-block">
            <span class="feature-name">SYNTHÈSE</span>
          </div>
          <%= render "daily_symptoms/graphs/menu" %>
        </div>
        <div class="col-12 col-lg-8 px-0 pl-md-2">
          <%= render "daily_symptoms/graphs/period" %>
          <%= render "daily_symptoms/graphs/graphs" %>
        </div>
      </div>
    </div>
  </div>
</div>
