<% content_for :meta_title, "Agenda | easy endo" %>
<div class="pb-5 padding-top-navbar min-100-vh-with-footer" data-controller="agenda">
  <div class="container">
    <div class="d-flex px-0 flex-column-reverse flex-lg-row mb-3 col-12 col-md-10 offset-md-1">
      <div class="col-12 col-lg-4 pr-lg-5">
        <div class="d-none d-lg-block mb-4">
          <span class="feature-name">MON AGENDA</span>
        </div>
        <%= render "daily_symptoms/agenda/filters" %>
      </div>
      <%= render "daily_symptoms/agenda/agenda" %>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-4">
            <div class="text-center">
              <%= link_to "Synthèse", graph_path, class: 'btn btn-primary btn-ee mb-4 mt-0 mt-md-3' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
