// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #035E70;
$light-green: #CFE6D8;
$gray: black;
$light-gray: #656565;
$pink: #EC6787;
$light-pink: #FACFD1;

