<style>
  p {
    font-family: sans-serif;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  img {
    width: 200px;
  }
  .mb-5 {
    margin-bottom: 30px;
  }
  .mb-3 {
    margin-bottom: 20px;
  }
</style>
<p class='mb-5'>Bonjour <%= User.find_by(email: @email).first_name.capitalize %></p>

<p>Votre essai gratuit d'easy endo de 15 jours touche à sa fin ...</p>

<p>Qu'est ce que cela veut dire pour vous ?</p>
<p>... votre compte easy endo reste actif mais vous n'aurez cependant accès qu'au service news</p>
<p>... vous décidez de rester un peu voire beaucoup avec nous.. et vous choisissez la formule d'abonnement qui vous conveint le mieux !</p>

<p>L'abonnement easy endo c'est l'accès en illimité à l'ensemble des services que vous avez découverts  et pouvoir également assister tous les mois à un webinar avec nos praticiens experts.</p>

<p>Pour vous abonner rendez-vous sur la page abonnement sur www.easyendo.fr.</p>

<p class='mb-5'>En espérant vous accompagner au quotidien pour mieux vivre votre endométriose.</p>

<p>Bien à vous,</p>
<p class='mb-3'>L'équipe easy endo</p>
<%= image_tag 'logo-pink.png' %>

