<style>
  p {
    font-family: sans-serif;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  img {
    width: 200px;
  }
  .mb-3 {
    margin-bottom: 20px;
  }
</style>

<p class='mb-3'>Bonjour <%= @user.first_name.capitalize %></p>

<p>Nous vous confirmons votre inscrition au webinar : <%= @webinar.title %> </p>

<p>Pour rappel, vous pourrez y accéder le <%= l(@webinar.start_at, format:"%d %B %Y à %Hh%M") %> depuis le lien que vous recevrez bientôt par mail. </p>

<p class='mb-3'>Nous vous remercions pour votre confiance, </p>

<p>Bien à vous, </p>
<p class='mb-3'>L'équipe easy endo</p>
<%= image_tag 'logo-pink.png' %>
