<style>
  p {
    font-family: sans-serif;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  img {
    width: 200px;
  }
  .mb-5 {
    margin-bottom: 30px;
  }
  .mb-3 {
    margin-bottom: 20px;
  }
</style>
<p class="mb-5">Bonjour <%= @user.first_name.capitalize %> et Bienvenue sur easy endo !</p>

<p>Nous avons le plaisir de vous confirmer la création de votre compte easy endo.</p>
<p>Vous pourrez désormais découvrir l'ensemble de nos services en accés gratuit pendant 15 jours.</p>

<p>A l'issue de cette période, vous aurez la possibilité de : </p>
<p>- supprimer votre compte depuis votre profil</p>
<p>- continuer avec votre accès gratuit et ainsi bénéficier d'une seule fonctionnalité easy endo : le service News</p>
<p>- choisir la formule d'abonnement qui vous convient le mieux et continuer à bénéficier de toutes les services easy endo en accès illimité !</p>

<p class="mb-5">En espérant vous accompagner au quotidien pour mieux vivre votre endométriose.</p>

<p>Bien à vous,</p>
<p class="mb-3">L'équipe easy endo</p>

<%= image_tag 'logo-pink.png' %>
