<style>
  p {
    font-family: sans-serif;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  img {
    width: 200px;
  }
  .mb-3 {
    margin-bottom: 20px;
  }
</style>
<p class="mb-3">Bonjour <%= @user.first_name.capitalize %> et Bienvenue sur easy endo !</p>

<p>Nous avons le plaisir de vous confirmer la création de votre compte easy endo.</p>
<p class="mb-3"><strong>Vous pouvez désormais accéder gratuitement à l'ensemble de nos services et en illimité.</strong></p>

<p><strong>Le saviez-vous ?</strong></p>
<p class="mb-3">Pour avoir easy endo à portée de clic et y accéder rapidement, savez-vous que vous pouvez <strong>installer un raccourci sur votre écran de smartphone</strong> ? On vous dit tout avec <strong>notre tuto <a href="https://www.youtube.com/watch?v=-S2CgGMP_uc">ici</a> !</strong></p>

<p><strong>easy endo c'est désormais votre compagnon du quotidien !</strong></p>

<p class="mb-3">Nous vous guidons dans la prise en charge de votre maladie grâce à nos différents services : News, A savoir, Mon agenda, Webinar easy Live, Forum, Que faire si.</p>

<p class="mb-3">Ils vous permettront de comprendre les modalités d’un <strong>accompagnement complet :</strong> </p>

<p><strong>- Traitements conventionnels</strong> : hormonaux et chirurgicaux</p>
<p><strong>- Traitement de la douleur </strong>dans son entité à part entière</p>
<p>- Prévention de votre <strong>fertilité</strong></p>
<p><strong>- Règles hygiéno-diététiques </strong>: alimentation anti-inflammatoire, yoga, stretching, kiné, ostéopathie, sommeil... etc</p>
<p><strong>- Gestion des émotions </strong>: méditation, sophrologie</p>
<p class="mb-3"><strong>- Thérapies complémentaires </strong>: acupuncture, aromathérapie, phytothérapie</p>

<p class='mb-3'>Cet accompagnement est validé et appuyé par un <a href="https://www.easyendo.fr/equipe">comité d’experts pluridisciplinaire.</a></p>

<p class="mb-3">Merci de votre confiance. À très vite sur <a href="www.easyendo.fr">www.easyendo.fr</a> !</p>

<p>Bien à vous,</p>
<p class="mb-3">L'équipe easy endo</p>

<%= image_tag 'logo-pink.png' %>
