.home-service {
  font-family: $headers-font;
  color: $green;
  font-weight: 600;
}

.home-service-logo {
  width: 50px;
  flex-shrink: 0;
}

.home-service-category {
  background-color: $light-green;
  padding: 20px 12px;
  border-radius: 10px;
  height: 100%;
  box-shadow: #0A5E706E 0 0 4px;
}

.home-partner-logo {
  height: 30px;
}

@media (min-width: 768px) {
  .home-partner-logo {
    height: 50px;
  }
}
