.profil-category-title {
  border-bottom: solid 1px $green;
  display: inline-block;
}

@media (min-width: 768px)  {
  .border-col-profile-desktop {
    border-right: solid 1px #e9ecef;
  }
}

.profile-favorite {
  a {
    font-weight:400;
  }
}

