<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <%= image_tag "agenda/blood.svg", class: 'symptom-icon'%>
    <h3 class='mb-0 ml-3'>Saignements</h3>
  </div>
</div>
<div class="range-slider" data-controller="range-slider-blood">
  <div class="w-100 d-flex justify-content-end">
    <p class="text-mini mb-0 slider-scale">Hémorragique</p>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-end">
    <p class="text-mini mb-0 slider-scale">0</p>
    <strong><output class="slider-scale text-mini"
    data-target="range-slider-blood.value"></output></strong>
    <div></div>
  </div>
  <input type="range"
   data-target="range-slider-blood.range"
   data-action="input->range-slider-blood#updateValue"
   value="<%= daily_symptom.blood_level ? daily_symptom.blood_level : 0 %>"
   min="0"
   max="5"
   step="1">
  <%= f.input :blood_level, as: :hidden, input_html: { data: { target: "range-slider-blood.hidden" } }, collection: 0..5, label: false %>
</div>
