 <div class="col-md-10 offset-md-1 d-none d-md-block">
    <div class="row">
      <% Article.categories.keys.each do |category| %>
        <div class="col-4 px-0">
          <%= link_to articles_path(category: category) do %>
            <div class="d-flex align-items-center justify-content-center mb-2 mx-2">
              <span class="category-bullet <%= category %>"></span>
              <% if params[:category].present? && params[:category] == category %>
                <h2 class="ml-2 mb-0 text-underline"><%= t("article.#{category}") %></h2>
              <% else %>
                <h2 class="category-link ml-2 mb-0">  <%= t("article.#{category}") %></h2>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
