<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 d-none d-md-block">
  <div class="row">
    <% Article.categories.keys.each do |category| %>
      <div class="col-4 px-0 flex-column">
        <%= render "category", category: category %>
      </div>
    <% end %>
  </div>
</div>
