<div class="text-center">
  <h3 class="profil-category-title mb-3"><strong>Mon abonnement</strong></h3>
  <p class='text-left text-header text-semibold'>
    Vous n’avez pas encore d’abonnement. Rendez-vous sur la page Abonnement pour souscrire à notre offre.
  </p>
  <%= render "abonnement_hidden" %>
</div>
