<div class="mb-5 mb-md-0 pb-5 text-center">
  <div>
    <%= link_to "JE SUPPRIME MON COMPTE", anonymize_path(user), data: { confirm: 'Vous allez supprimer définitivement votre compte. Cette action est irréversible. Êtes vous sûre ?' }, method: :patch, class: 'btn btn-primary text-mini btn-ee' %>
  </div>
  <% if user.information %>
    <div>
      <%= link_to "Supprimer mes données", delete_information_path(user.information), method: :delete, data: { confirm: 'Vous allez supprimer définitivement toutes les données de votre questionnaire et de votre agenda. Cette action est irréversible. Êtes vous sûre ?' } , class: 'text-mini mt-1' %>
    </div>
  <% end %>
</div>
