<div class="text-center">
  <h3 class="profil-category-title mb-3"><strong>Mes discussions</strong></h3>
  <p class='text-left text-header text-semibold'>Vous n’avez participé à encore aucune discussion du Forum.</p>
</div>
