<div class="text-center profile-favorite" data-controller="show-hidden-content">
  <h3 class="profil-category-title mb-3"><strong>Mes favoris</strong></h3>
  <% if favorites.any? %>
    <%= render "favorites", favorites: first_favorites %>
    <% if last_favorites&.any? %>
      <div class="arrow arrow-bottom" data-action="click->show-hidden-content#showOrHideContent" data-target="show-hidden-content.button"></div>
      <div class="d-none" data-target="show-hidden-content.hiddenContent">
        <%= render "favorites", favorites: last_favorites %>
      </div>
    <% end %>
  <% else %>
    <p class='text-left text-header text-semibold'>Vous n’avez pas encore de favoris. Likez le contenu qui vous intéresse pour le mémoriser dans vos favoris.</p>
  <% end %>
</div>
