<div class="navbar-bg">
  <% if user_signed_in? %>
    <div class="d-none d-lg-block">
      <%= render "navbar-desktop" %>
    </div>
    <div class="d-block d-lg-none">
      <%= render "navbar-mobile" %>
    </div>
  <% else %>
    <%= render "navbar-disconnected" %>
  <% end %>
</div>
