<div class="navbar-bg">
  <div class="container">
    <div class="navbar navbar-expand-lg navbar-light navbar-lewagon col-12 col-md-10 offset-md-1">
      <%= link_to main_app.root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-pink.svg" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "JE M'INSCRIS", new_user_registration_path, class: "btn-ee btn btn-primary text-mini" %>
          </li>
          <li class="nav-item">
            <%= link_to "JE ME CONNECTE", new_user_session_path, class: "btn btn-primary btn-ee text-mini ml-3" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
