<p class="text-center home-service mt-5 mb-4">Ils parlent de nous</p>
<div class="d-flex align-items-center justify-content-between">
  <%= image_tag "partenaires/figaro-sante.png", class: 'home-partner-logo' %>
  <%= image_tag "partenaires/rtl.png", class: 'home-partner-logo' %>
  <%= image_tag "partenaires/france-5.png", class: 'home-partner-logo' %>
  <%= image_tag "partenaires/cnews.png", class: 'home-partner-logo' %>
</div>
