<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 mb-5">
  <p class="text-center home-service mt-5 mb-4">Ils parlent de nous</p>
  <div class="row">
    <div class="col-6 col-sm-3 text-right text-sm-center">
      <%= image_tag "partenaires/madame-fig.svg", class: 'home-partner-logo' %>
    </div>
    <div class="col-6 col-sm-3 text-left text-sm-center">
      <%= image_tag "partenaires/avantage_bw.svg", class: 'home-partner-logo' %>
    </div>
    <div class="col-6 col-sm-3 text-right text-sm-center">
      <%= image_tag "partenaires/telematin_bw.svg", class: 'home-partner-logo mt-2 mt-sm-0' %>
    </div>
    <div class="col-6 col-sm-3 text-left text-sm-center">
      <%= image_tag "partenaires/moniteur-pharmacies.png", class: 'home-partner-logo mt-2 mt-sm-0' %>
    </div>
  </div>
</div>
