<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 mb-5">
  <p class="text-center home-service mt-5 mb-4">Ils parlent de nous</p>
  <div class="d-flex align-items-center justify-content-between">
    <%= image_tag "partenaires/france_2_bw.svg", class: 'home-partner-logo p-1' %>
    <%= image_tag "partenaires/avantage_bw.svg", class: 'home-partner-logo' %>
    <%= image_tag "partenaires/telematin_bw.svg", class: 'home-partner-logo' %>
    <%= image_tag "partenaires/moniteur-pharmacies.png", class: 'home-partner-logo' %>
  </div>
</div>
