<p>Votre période d'essai arrive à expiration le <%= Time.at(@trial_end).strftime("%A %e %B") %>.</p>
<p>Si vous n'avez pas rentré de code promo ou si vous ne vous êtes pas encore abonnée, c'est le moment !</p>
