<% content_for :meta_title, "Que faire si... | easy endo" %>
<div class="container padding-top-navbar min-100-vh-with-footer pb-5">
  <div class="col-12 col-md-10 offset-md-1">
    <div class="d-none d-md-block mb-md-5">
      <%= link_to algorythm_path, data: {turbolinks: "false"} do  %>
        <span class="feature-name">Que faire si...</span>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-md-8 offset-md-2 text-green text-header text-intro-webinar">
    <p>En <b>cliquant sur un chapitre</b>, vous allez <b>répondre à des questions</b>, puis des <b>renseignements vous seront donnés.</b><p>
    <p>Ces informations ne concernent que des situations courantes liées à l’endométriose, mais attention, rien ne remplace une consultation avec votre médecin, car il se peut que vous ayez un autre problème de santé. <em>(Les questions comportant une * sont obligatoires)</em><p>
    <div class="text-center pt-4">
      <a class="typeform-share button" href="https://form.typeform.com/to/mnxJsic7?typeform-medium=embed-snippet" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#3A7685;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:40px;text-align:center;margin:0;height:40px;padding:0px 26px;border-radius:20px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_blank">Je commence </a>
    </div>
  </div>
</div>
<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
