<% content_for :meta_title, "Mentions légales | easy endo" %>
<div class="bg padding-top-navbar pb-5 min-100-vh-with-footer">
  <div class="container">
    <div class="col-12 col-md-10 offset-md-1 d-none d-xl-block">
      <span class="feature-name">Cadre réglementaire</span>
    </div>
    <div class="text-center mt-3">
      <h1>Mentions légales</h1>
    </div>
    <div class="col-12 col-md-8 offset-md-2 mt-xl-5 text-green">
      <p>Editeur du site : M&E CARE, société par actions simplifiée, au capital de 13.390 euros, immatriculée au Registre du commerce et des sociétés de Bordeaux sous le numéro 877 824 151, dont le siège social est situé sis 63 avenue de la Fraternelle 33700 Mérignac, numéro de TV intracommunautaire FR65 877 824 151.</p>
      <p>Téléphone : 06.52.68.48.93.</p>
      <p>Email :  contact@easyendo.fr</p>
      <p>Directrice de la publication : Madame Marie CECCARELLI, Présidente</p>
      <p>Hébergeur du site : la société AZNetwork, société par actions simplifiée, immatriculée au Registre du commerce et des sociétés de Alençon sous le numéro 423 880 061, située 40 rue André Ampère 61000 Alençon, téléphone : 02.33.32.12.47 ; infogéré par la société POSTELO, société par actions simplifiée, immatriculée au Registre du commerce et de sociétés de Toulouse sous le numéro 837 590 967, située au 13 rue Sainte Ursule, 31000 Toulouse, téléphone 06.52.24.68.56.</p>
    </div>
  </div>
</div>
