<div class="bg padding-top-navbar pb-5 min-100-vh-with-footer">
  <div class="container">
    <div class="col-12 col-md-10 offset-md-1 d-none d-xl-block">
      <span class="feature-name">Cadre réglementaire</span>
    </div>

    <div class="col-12 col-md-8 offset-md-2 mt-xl-5">
      <div class="d-flex align-items-center mb-2">
        <span class="pink-bullet d-xl-none mr-2"></span>
        <h3 class="mb-0">Mentions légales</h3>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, veritatis quae ut autem minima tempore distinctio laboriosam? Vitae perferendis pariatur corporis! Labore incidunt, quisquam doloremque, repudiandae quo quaerat repellendus suscipit?</p>

      <div class="d-flex align-items-baseline mb-2 mt-4">
        <span class="pink-bullet d-xl-none mr-2"></span>
        <h3 class="mb-0">Politique de confidentialité et gestion des cookies</h3>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, veritatis quae ut autem minima tempore distinctio laboriosam? Vitae perferendis pariatur corporis! Labore incidunt, quisquam doloremque, repudiandae quo quaerat repellendus suscipit?</p>

      <div class="d-flex align-items-baseline mb-2 mt-4">
        <span class="pink-bullet d-xl-none mr-2"></span>
        <h3 class="mb-0">Conditions générales des services (avec CGU et CGV)</h3>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, veritatis quae ut autem minima tempore distinctio laboriosam? Vitae perferendis pariatur corporis! Labore incidunt, quisquam doloremque, repudiandae quo quaerat repellendus suscipit?</p>
    </div>
  </div>
</div>
