<% content_for :meta_title, "Conditions générales d'utilisation | easy endo" %>
<div class="bg padding-top-navbar pb-5 min-100-vh-with-footer">
  <div class="container">
    <div class="col-12 col-md-10 offset-md-1 d-none d-xl-block">
      <span class="feature-name">Cadre réglementaire</span>
    </div>
    <div class="text-center mt-3">
      <h1>Conditions générales d'utilisation</h1>
    </div>
    <div class="col-12 col-md-8 offset-md-2 mt-xl-5 text-green">
      <p>Les présentes conditions générales d’utilisation (« CGU ») ont pour objet de définir les modalités et conditions d’utilisation de l’Application-web EASY ENDO éditée par la société M&E CARE, société par actions simplifiée, dont le siège social est 63 avenue de la Fraternelle, 33700 MERIGNAC, immatriculée au Registre du Commerce et des Sociétés de Bordeaux sous le numéro 877 824 151 (ci-après « M&E CARE »).</p>

      <p>ARTICLE 1 - DEFINITIONS</p>

      <p>Dans les CGU, les termes et expressions identifiés par une majuscule ont la signification indiquée ci-après, qu’ils soient employés au singulier ou au pluriel.</p>
      <p>Abonnement : désigne l’abonnement mensuel à EASY ENDO, souscrit par l’Utilisatrice dans les conditions définies aux présentes.</p>
      <p>Compte : désigne le compte créé par l’Utilisatrice sur EASY ENDO, lui permettant d’accéder aux Services dans les conditions ci-après ;</p>
      <p>EASY ENDO : désigne l’Application-web permettant d’accéder aux Services, développée et éditée par M&E CARE et mise à disposition de l’Utilisatrice par le biais d’internet, sur le site disponible à l’adresse suivante : www.easyendo.fr (le « Site ») ;</p>
      <p>Services : désigne les services accessibles sur EASY ENDO, dont le contenu est détaillé à l’article 3.1 des présentes ;</p>
      <p>Utilisatrice : désigne toute personne physique capable juridiquement, ayant la qualité de consommateur au sens qu’en donnent la loi et la jurisprudence, disposant d’un Compte sur EASY ENDO et accédant aux Services dans les conditions prévues aux présentes, quel que soit le lieu où elle se trouve et les modalités de sa connexion à EASY ENDO.</p>


<p>ARTICLE 2 - ACCEPTATION DES CGU</p>

  <p>Les CGU constituent un contrat entre l’Utilisatrice et M&E CARE. L’accès à EASY ENDO et son utilisation est subordonnée à l’acceptation expresse et sans réserve par l’Utilisatrice des CGU. Le défaut d’acceptation des CGU impliquera l’impossibilité pour l’Utilisatrice d’accéder à EASY ENDO et d’utiliser les Services. L’acceptation des CGU s’effectue à la première connexion de l’Utilisatrice sur EASY ENDO, lors de la création de son Compte dans les conditions de l’article 3.2.</p>

<p>M&E CARE se réserve le droit de modifier et/ou de mettre à jour les CGU à tout moment et sans préavis. L’accès et l’utilisation de EASY ENDO seront soumis aux CGU en vigueur au moment de cet accès et de cette utilisation. L’Utilisatrice est invitée à consulter régulièrement les CGU à cet effet.</p>

<p>Dans l'hypothèse où l'une des clauses des CGU serait nulle du fait d'un changement de législation ou de réglementation ou déclarée comme telle par une décision de justice définitive, cela ne saurait en aucun cas affecter la validité et le respect des autres clauses des CGU.</p>


<p>ARTICLE 3 - ACCES A EASY ENDO</p>

<p>3.1 Description de EASY ENDO</p>

<p>EASY ENDO est une application-web développée par M&E CARE mise à disposition de l’Utilisatrice par le biais d’internet à partir du Site, dédiée à l’endométriose et dont l’objectif est d’accompagner au quotidien les femmes atteintes de cette pathologie.</p>

<p>Les Services proposés sur EASY ENDO sont les suivants :</p>

<p>Accès gratuit à toute Utilisatrice :
Actualités média et scientifiques sur l’endométriose, ainsi qu’un agenda des événements à venir relatifs à cette pathologie ;</p>
<p>Accès payant sur Abonnement :</p>
<p>Bibliothèque de contenus (vidéos et fiches thématiques) ;</p>
  <p>Agenda personnel pour répertorier ses symptômes, ses rendez-vous médicaux et suivre son cycle ;</p>
  <p>Forum d’échanges sur des sujets initiés et animés par M&E CARE ;</p>
<p>Parcours de soin : accès à des annuaires (lien hypertexte vers de sites tiers à EASY ENDO) de professionnels de santé et/ou autres spécialistes en fonction des traitements/disciplines qu’ils proposent ;</p>
<p>Informations individualisées et adaptées aux besoins de l’Utilisatrice, en fonction des réponses apportées à un questionnaire interactif (algorithme décisionnel) ;</p>
<p>Un webinar traitant un sujet lié à l’endométriose, organisé chaque mois par M&E Care en présence d’un invité</p>
  <p>Accès payant pour une Utilisatrice ne disposant pas d’un Abonnement :</p>
  <p>Un webinar traitant un sujet lié à l’endométriose, organisé chaque mois par M&E Care en présence d’un invité.</p>

<p>Le détail de chaque Service est précisé sur EASY ENDO, sous chaque rubrique concernée.</p>

<p>3.2 Création d’un Compte</p>

<p>L’accès à EASY ENDO nécessite la création d’un Compte. Pour cela, l’Utilisatrice doit disposer d’une adresse email valide.</p>

<p>L’Utilisatrice crée un Compte en cliquant sur le bouton « Je m’inscris » depuis la page d’accueil d’EASY ENDO.</p>

<p>L’Utilisatrice est alors invitée à renseigner les informations demandées dans le formulaire de création de Compte prévu à cet effet.</p>

  <p>L’Utilisatrice est ensuite invitée à lire les CGU et la Politique de confidentialité de M&E CARE relative aux traitements de données personnelles de l’Utilisatrice opérés par M&E CARE. Si elle en accepte les termes, elle est invitée à cliquer sur « Je m’inscris » pour finaliser la création de son Compte. Par ce clic, l’Utilisatrice reconnait avoir lu les CGU et la Politique de Confidentialité, les avoir comprises et accepter pleinement l’ensemble de leurs stipulations, sans restriction ni réserve.</p>

<p>Dès lors que l’Utilisatrice clique sur « Je m’inscris », son Compte est créé et elle y accède automatiquement. L’Utilisatrice reçoit un mail de confirmation de la création du Compte.</p>

<p>L’Utilisatrice s’engage à fournir et maintenir les informations la concernant exactes, à jour et complètes. L’Utilisatrice peut à tout moment compléter et/ou modifier les informations personnelles la concernant depuis son Compte.</p>

<p>L’Utilisatrice s’engage notamment à ne pas créer une fausse identité de nature à induire M&E CARE ou les tiers en erreur et à ne pas usurper l’identité ou la fonction d’une autre personne physique. L’Utilisatrice accepte et s’engage à maintenir à jour et complètes ses informations en cas de changement de situation ou de modification concernant les données qu’elle a communiquées initialement. La responsabilité de M&E CARE ne saurait en aucune circonstance être engagée en cas de retard ou d’impossibilité de fournir EASY ENDO ou l’un quelconque des Services du fait d’une information erronée ou incomplète dans la saisie des informations concernant l’Utilisatrice sur son Compte.</p>

<p>Dans l’hypothèse où l’Utilisatrice fournirait des informations fausses, incomplètes, inexactes, trompeuses, périmées, ou de nature à induire en erreur, M&E CARE pourra, immédiatement sans préavis ni indemnité, suspendre ou résilier le Compte de l’Utilisatrice et lui refuser l’accès, de façon temporaire ou définitive à tout ou partie de EASY ENDO.</p>

<p>Responsabilité des paramètres de connexion</p>

<p>Les paramètres d’identification (identifiant et mot de passe) de l’Utilisatrice sont personnels et confidentiels. L’Utilisatrice devra conserver ces identifiants de connexion de manière sécurisée et s’engage à ne pas les divulguer à des tiers pour quelque raison, de quelque manière et sous quelque forme que ce soit.</p>

<p>En cas de perte, oubli ou vol de ses éléments d’authentification, l’Utilisatrice doit modifier son mot de passe dans les plus brefs délais en cliquant sur le bouton « Mot de passe oublié » situé sous le formulaire de saisie des identifiants de connexion. L’Utilisatrice est alors invitée à créer un nouveau mot de passe.</p>

<p>En aucun cas, M&E CARE ne saurait être responsable de la perte, du vol ou de l’oubli des éléments d’authentification de l’Utilisatrice ou de leur utilisation frauduleuse.  L’Utilisatrice est seule responsable de l’accès et l’utilisation de EASY ENDO avec ses éléments d’identification.</p>


<p>ARTICLE 4 - EQUIPEMENTS</p>

<p>M&E CARE s’engage à mettre en œuvre tous les moyens permettant aux Utilisatrices un accès fiable, rapide et sécurisé à EASY ENDO. Néanmoins, les Utilisatrices déclarent avoir accepté les coûts ainsi que les limites propres à toute connexion au réseau internet.</p>

<p>Tous les coûts afférents à l’accès à EASY ENDO et à son utilisation que ce soient les frais matériels, logiciels ou d’accès à internet sont exclusivement à la charge de l’Utilisatrice. L’Utilisatrice est seule responsable du bon fonctionnement et de la sécurisation appropriée de son équipement informatique (ordinateur, tablette ou smartphone) ainsi que son accès internet. M&E CARE ne sera pas tenue responsable en cas de dommage à tout équipement dans le cadre de l’utilisation de EASY ENDO.</p>

<p>L’Utilisatrice se charge d’accéder à EASY ENDO dans de bonnes conditions techniques – matériel, logiciel, télécommunications (connexion internet haut débit et un navigateur Chrome, Firefox ou Edge à jour) – afin que soient notamment assurées toutes les mesures de sauvegarde ainsi que la protection contre d’éventuelles intrusions.</p>


<p>ARTICLE 5 - DISPONIBILITE DE EASY ENDO</p>

<p>EASY ENDO est accessible 24 heures sur 24, 7 jours sur 7, sous réserve de la survenance d’un cas de force majeure ou un d’un évènement hors du contrôle de M&E CARE et sauf interruption, suspension ou limitation dans le cadre d’opérations de maintenance et/ou de mises à jour nécessaires au bon fonctionnement de EASY ENDO.</p>

<p>M&E CARE n’est tenue qu’à une obligation de moyens concernant l’accessibilité, le fonctionnement et la disponibilité de EASY ENDO, des Services et de leurs contenus. M&E CARE se réserve la possibilité d’interrompre, de suspendre ou de limiter l’accès à tout ou partie de EASY ENDO notamment en raison de contraintes d’ordre juridique ou technique.</p>

<p>L’Utilisatrice reconnait expressément que les suspensions, interruptions ou limitations susmentionnées pourront intervenir à tout moment sans préavis et qu’elles n’ouvriront droit à aucun recours ni indemnisation à son profit.</p>

<p>ARTICLE 6 - BON USAGE DE EASY ENDO</p>

<p>L’Utilisatrice s’engage à utiliser EASY ENDO conformément aux CGU, dans le respect des lois et réglementations applicables.</p>

<p>Il est strictement interdit d’utiliser EASY ENDO aux fins suivantes :</p>
  <p>produire des interférences avec EASY ENDO ou d’y accéder en utilisant une méthode autre que celle prévue aux CGU et les instructions qui sont mises à sa disposition,</p>
  <p>l’exercice d’actions et/ou d’activités illégales, discriminatoires, diffamatoires, frauduleuses ou portant atteinte aux droits ou à la sécurité des tiers,</p>
  <p>l’atteinte à l’ordre public ou la violation des lois et règlements en vigueur,</p>
  <p>l’aide ou l’incitation, sous quelque forme et de quelque manière que ce soit, à un ou plusieurs des actes décrits ci-dessus,</p>
  <p>et plus généralement toute pratique détournant EASY ENDO à des fins autres que celles pour lesquelles elle a été conçue.</p>

  <p>M&E CARE pourra suspendre ou résilier l’accès de l’Utilisatrice à EASY ENDO en cas de non-respect du présent article, sans préjudice de tous dommages et intérêts que pourrait solliciter M&E CARE.</p>

<p>ARTICLE 7 - GARANTIES</p>

<p>M&E CARE garantit la sécurité de EASY ENDO et la confidentialité des bases de données qu’elle contient, conformément aux exigences de la réglementation applicable à la protection des données personnelles et, en particulier, des données personnelles de santé.</p>

<p>L’ensemble des accès à EASY ENDO sont tracés et consignés quotidiennement en base de données. EASY ENDO et ses bases de données sont protégées par des firewall et système anti-intrusion conformes aux standards de l’industrie pour le type de données traitées. EASY ENDO, en ce compris le Site et les bases de données dont celles contenant les données personnelles des Utilisatrices, est hébergée sur des serveurs mis à disposition de EASY ENDO par un hébergeur certifié de données de santé, la société AZNetwork (RCS Alençon 423 880 061), dans ses datacenters situés sur le territoire français. Cet hébergeur est astreint au secret professionnel dans les conditions et sous les peines prévues à l’article 226-13 du code pénal.</p>

<p>Les informations diffusées sur EASY ENDO sont fournies par M&E CARE à titre strictement et exclusivement informatif et indicatif. M&E CARE fait ses meilleurs efforts pour maintenir EASY ENDO et les Services à jour et diffuser des informations fiables, licites et validées par des experts compétents (médecins et autres professionnels spécialisés dans l’endométriose, notamment). Cependant, malgré tout le soin et l’attention apportés à la sélection des sources et à la rédaction des contenus et informations, M&E CARE ne saurait pour autant garantir l’intégrité, l'exactitude, l'exhaustivité, l’actualité ou autre qualité des informations diffusées sur EASY ENDO.</p>

<p>EASY ENDO, les Services et leurs contenus n’ont aucunement vocation à fournir de quelque manière que ce soit, des conseils en matière de santé ou de diagnostic médical et ne saurait dispenser de la consultation et l’avis de professionnels de santé. Seuls les professionnels de santé compétents sont habilités à prescrire et/ou dispenser des traitements appropriés et en déterminer leur fréquence et durée. Le contenu de EAYSENDO et des Services ne doit pas être interprété comme un conseil ou une recommandation ni un fondement sur lequel baser une décision, un diagnostic médical ou une action.</p>

<p>M&E CARE ne consent aucune autre garantie expresse ou implicite, en ce y compris, sans que cette énumération ne soit limitative, quant à la non-violation des droits d'un tiers, la continuité, performance et/ou pérennité de EASY ENDO et/ou quant à l’aptitude à un usage particulier ou l’adéquation de EASY ENDO ou de l’un quelconque des Services aux besoins de l’Utilisatrice, ni ne garantit qu’elle est exempte d’anomalies, erreurs ou bugs ou qu’elle fonctionnera sans panne ni interruption. EASY ENDO est diffusée « en l’état » et selon sa disponibilité.</p>

<p>L’accès à EASY ENDO implique la connaissance et l’acceptation des caractéristiques et des limites d’internet, notamment en ce qui concerne les performances techniques, les temps de réponse pour consulter, interroger ou transférer des informations, les risques d’interruption, et plus généralement, les risques inhérents à toute connexion et transmission sur internet, l’absence de protection de certaines données contre des détournements éventuels et les risques de contamination par d’éventuels virus circulant sur le réseau. M&E CARE ne garantit pas que EASY ENDO ou ses serveurs seront à tout moment exempt de virus, vers, chevaux de Troie ou tout autre composant susceptible de causer un dommage. Il appartient à l’Utilisatrice de prendre toutes les mesures appropriées de façon à protéger ses propres matériels, données, et/ou logiciels stockés sur son équipement informatique contre toute atteinte.</p>

<p>ARTICLE 8 - RESPONSABILITE</p>

<p>L’accès et l’utilisation de EASY ENDO par l’Utilisatrice ne sauraient en aucun cas engager la responsabilité de M&E CARE, à quelque titre que ce soit. L’accès à EASY ENDO et son utilisation se font sous l’entière responsabilité de l’Utilisatrice. Cette dernière est seule maître de la bonne utilisation, avec discernement et esprit, de EASY ENDO et des Services qu’elle contient.</p>

<p>Aucun conseil et aucune information, qu'ils soient oraux ou écrits, obtenus par l’Utilisatrice lors de l’utilisation de EASY ENDO ne sont susceptibles de créer de garanties non expressément prévues par les CGU ni d’entraîner la responsabilité de M&E CARE en cas de dommages, de quelque nature qu’ils soient, causés à l’Utilisatrice ou à des tiers du fait de la mauvaise utilisation par l’Utilisatrice de EASY ENDO, en violation des dispositions du présent article et plus généralement du non-respect des CGU.</p>

<p>Conformément à l'article 6-I, 2 et 3 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, M&E CARE ne saurait voir sa responsabilité engagée à raison des contenus rendus disponibles sur EASY ENDO par les Utilisatrices, notamment en ce qui concerne les contenus publiés sur le forum pour les Utilisatrices y ayant accès, sauf si elle ne les rendait pas promptement inaccessibles après avoir été informée de leur illicéité dans les conditions prévues par cette loi. A ce titre, l’Utilisatrice est invitée à lire attentive la « Charte d’utilisation du forum » disponible sur le lien suivant : [lien hypertexte] et à tout moment sur EASY ENDO, et s’engage à respecter l’ensemble de ses termes à chaque utilisation du forum.</p>

<p>De manière générale, dans toute la mesure autorisée par la loi applicable, M&E CARE exclut expressément sa responsabilité pour tout dommage, direct ou indirect, résultant de ou en relation avec l’accès à EASY ENDO, son utilisation, son dysfonctionnement ou son indisponibilité quelles qu’en soient la nature et la durée. M&E CARE est responsable des seuls dommages directs qui pourraient être causés à l’Utilisatrice du fait de la mauvaise exécution et/ou inexécution des obligations lui incombant en vertu des CGU.</p>

<p>L’Utilisatrice reconnait que M&E CARE demeure libre de corriger et/ou modifier EASY ENDO et/ou l’un quelconque des Services, à tout moment et sans préavis, sans que cette correction et/ou modification ne puisse ouvrir droit à un quelconque recours de sa part.</p>

<p>La responsabilité de M&E CARE ne saurait être engagée, d’une façon générale, dans tous les cas où l'inexécution ou la mauvaise exécution des CGU résulterait d'un cas de force majeure ou cas fortuit indépendant de sa volonté.</p>

<p>ARTICLE 9 - PROPRIETE INTELLECTUELLE</p>

<p>EASY ENDO (en ce compris son architecture et ses bases de données, ainsi que le Site sur lequel l’application est mise à disposition), les dénominations, noms de domaine, marques et logos de M&E CARE présents sur EASY ENDO, ainsi que tous contenus édités par M&E CARE sur EASY ENDO (les « Eléments Protégés ») sont protégés par des droits de propriété intellectuelle (y compris notamment tous droits d'auteur, droits sur les brevets, marques, dessins et modèles, droit des producteurs de bases de données, noms de domaines et tout autre droit de propriété intellectuelle existant ou futur, français et internationaux) et appartiennent à M&E CARE ou à des tiers ayant autorisé M&E CARE à les exploiter.</p>

<p>L’utilisation de EASY ENDO ne confère en aucune façon aux Utilisatrices un droit de propriété et/ou un droit de propriété intellectuelle sur les Eléments Protégés, à l’exception d’un droit personnel d’accès, non exclusif, non-cessible, non-transférable et limité exclusivement à l’utilisation de EASY ENDO conformément à leur objet et dans le respect des CGU, pendant la durée d’utilisation de EASY ENDO.</p>

<p>Il est strictement interdit de représenter, de reproduire et/ou d’exploiter les Eléments Protégés, totalement ou partiellement, sous quelque forme et par quelque moyen que ce soit, sans l’accord écrit et préalable de M&E CARE. Les Utilisatrices s’engagent à ne pas copier, modifier, assembler, décompiler, altérer, vendre, louer, prêter, diffuser, distribuer ou transférer tout ou partie de EASY ENDO, créer des œuvres dérivées à partir de EASY ENDO, autoriser un tiers à commettre de tels actes, sans l’accord écrit et préalable de M&E CARE.</p>

<p>Le non-respect des dispositions du présent article constitue une violation des droits de propriété intellectuelle de M&E CARE et/ou des tiers concédants et est susceptible d’entraîner des poursuites civiles et pénales.</p>

<p>ARTICLE 10 - PROTECTION DES DONNEES PERSONNELLES</p>

<p>M&E CARE est soucieuse de la protection des données personnelles des Utilisatrices et s’engage à les protéger en conformité avec la réglementation applicable et notamment le Règlement (UE) n°2016/679 du 27 avril 2016 dit « Règlement Général sur la Protection des Données » ou « RGPD » et la loi n° 78-17 du 6 janvier 1978 modifiée dite « Loi Informatique et Liberté ».</p>

<p>Lorsqu’elle collecte les données personnelles des Utilisatrices, M&E CARE met en œuvre des traitements de celles-ci pour lesquels elle est qualifiée de « responsable de traitement », au sens des textes précités. A ce titre, M&E CARE s’engage à respecter à tout moment les exigences de la réglementation applicable à la protection des données personnelles.</p>

<p>Pour en savoir plus sur les règles de protection des données personnelles éditées par M&E CARE, les Utilisatrices sont invitées à consulter la Politique de confidentialité de M&E CARE, disponible à l’adresse suivante : https://www.easyendo.fr/politique-de-protection-des-données-personnelle/</p>

<p>ARTICLE 11 - DUREE – RESILIATION</p>

<p>Les CGU entrent en vigueur à compter de leur acceptation par l’Utilisatrice et sont applicables pour toute la durée d’utilisation de EASY ENDO par l’Utilisatrice, conformément aux termes des présentes.</p>

<p>L’Utilisatrice est libre de désactiver son Compte à tout moment, en cliquant sur le bouton « Titre » disponible sur son Compte. L’Utilisatrice est informée que la suppression de son Compte entrainera automatiquement et immédiatement l’arrêt immédiat de l’accès de l’Utilisatrice aux Services, que l’Utilisatrice ait ou non souscrit un Abonnement. Dans ce dernier cas, l’Utilisatrice est invitée à consulter les conditions générales de services qu’elle a acceptées lors de la souscription à un Abonnement et, en particulier, leur article 5 relatif à la résiliation.</p>

<p>En cas d’utilisation de EASY ENDO par l’Utilisatrice non conforme aux CGU, en cas de manquement de l’Utilisatrice aux CGU, ou plus généralement en cas de violation des lois et réglementations applicables, M&E CARE pourra suspendre ou résilier de plein droit, sans mise en demeure préalable, sans préavis ni indemnité, tout ou partie de l’accès de l’Utilisatrice à EASY ENDO. M&E CARE pourra prononcer cette résiliation sans préjudice de tous les autres droits, actions et recours dont M&E CARE pourrait disposer en vue de la réparation du préjudice qu’elle pourrait avoir subi du fait de ces manquements.</p>

<p> ARTICLE 12 - STIPULATIONS DIVERSES</p>

<p>Les CGU sont conclues intuitu personae. Les droits et obligations en résultant ne pourront en aucun cas être cédés ou transférés par l’Utilisatrice, à quelque titre que ce soit, sans l’agrément préalable et écrit de M&E CARE.
Le défaut pour l’une ou l’autre des parties de se prévaloir, à un moment donné, de l’une quelconque des dispositions des CGU, ne saurait être interprété à l’avenir comme une renonciation aux droits qu’elle tient des présentes.</p>

<p>ARTICLE 13 - DROIT APPLICABLE ET RESOLUTION DES LITIGES</p>

<p>Les CGU sont soumises à la loi française.</p>

<p>Les parties déclarent leur intention de chercher une solution amiable à toute difficulté qui pourrait surgir à propos de la validité, de l’interprétation ou de l’exécution des CGU. Dans les limites permises par la loi, en cas de désaccord persistant, le litige sera soumis aux tribunaux compétents.</p>

<p>Nonobstant ce qui précède, l’Utilisatrice bénéficie en tout état de cause, conformément aux articles L.616-1 et R.616-1 du code de la consommation, du droit de recourir gratuitement à un médiateur de la consommation en vue de la résolution amiable du litige qui l’opposerait à M&E CARE. M&E CARE a mis en place un dispositif de médiation de la consommation. L'entité de médiation retenue est : SAS CNPM - MEDIATION - CONSOMMATION. En cas de litige, le consommateur pourra déposer sa réclamation sur le site : http://cnpm-mediation-consommation.eu ou par voie postale en écrivant à CNPM - MEDIATION - CONSOMMATION, 27, avenue de la Libération - 42400 SAINT-CHAMOND.</p>

<p>La saisine du médiateur doit être effectuée dans le délai maximal d’un (1) an à compter de la date de la réclamation écrite adressée par courrier recommandé avec demande d’avis de réception à M&E CARE. La saisine se fait par courrier simple ou directement sur le site internet du médiateur.</p>

<p>ARTICLE 14 - CONTACT</p>

<p>Pour toute demande afférente au Compte ou aux CGU, l’Utilisatrice est invitée à contacter M&E CARE par le biais du formulaire de contact disponible sur le Site ou par email à l’adresse suivante : contact@easyendo.fr.</p>
    </div>
  </div>
</div>
