<% content_for :meta_title, "Message envoyé | easy endo" %>
<div class="bg pb-5 padding-top-navbar min-100-vh-with-footer">
  <div class="container">
    <div class="d-md-flex justify-content-between mb-3 col-12 col-md-10 offset-md-1">
      <div class="d-none d-md-block">
        <%= link_to new_contact_path do %>
          <span class="feature-name">CONTACTEZ-NOUS !</span>
        <% end %>
      </div>
    </div>
    <div class="row mt-0 mt-md-5">
      <div class="col-10 offset-1 col-md-6 offset-md-3 px-1 px-xl-5 text-center">
        <h3 class="mb-3">Votre message a bien été envoyé. Nous vous répondrons dans les plus brefs délais.</h3>
        <%= link_to "Retour à l'accueil", root_path, class:'text-mini btn btn-primary btn-ee'  %>
      </div>
    </div>
  </div>
</div>
