<h2 class='text-center mb-3'>CHARTE D’UTILISATION DU FORUM EASY ENDO</h2>
<h3>Préambule</h3>
<p>La charte d’utilisation du forum (ci-après la « Charte ») est une annexe des conditions générales d’utilisation de EASY ENDO ; elle fait partie intégrante de celles-ci et est soumise à l’ensemble de ses termes. Tous les termes identifiés dans la Charte par une majuscule ont la signification qui leur est donnée dans les conditions générales d’utilisation.<p>
<h3>1) Définitions</h3>
<p>Le forum mis en place par M&E CARE est un espace de discussions, d’échanges et d’entraide qui se veut bienveillant.
Les Utilisatrices doivent rester polies et respectueuses de la parole d'autrui. Aucun sujet n'est tabou, mais beaucoup sont difficiles à évoquer. On participe donc aux discussions sans préjugé, sans s'insulter et en utilisant un langage correct.
Nous vous recommandons également de rester prudente (si vous ne voulez pas faire connaître votre nom de famille ou votre email, ne les mettez pas).</p>
<p>Autour des thèmes qui vous sont proposés, vous pouvez à tout moment prendre connaissance des interventions des autres Utilisatrices et apporter votre propre contribution.</p>
<h3>2) Modération a posteriori</h3>
<p>M&E CARE assure une modération a posteriori des messages et contenus publiés sur les espaces de discussion du forum. Elle se réserve le droit de retirer à tout moment tous messages publiés, s'ils ne répondent pas aux conditions de la présente Charte.</p>
<h3>3) Ethique et respect de la loi<h3>
<p>Nous vous invitons à garder un comportement adéquat en toutes circonstances lorsque vous intervenez sur les espaces de discussions et, plus généralement, lorsque vous utilisez le forum.<p>
<p>Les messages suivants sont interdits :<p>
  <ul>
    <li>A caractère diffamatoire.</li>
    <li>A caractère injurieux (expression outrageante, terme de mépris ou invective).</li>
    <li>Susceptibles par leur nature de porter atteinte au respect de la personne humaine et de sa dignité, à l'égalité entre les femmes et les hommes et à la protection des enfants et des adolescents.</li>
    <li>Faisant l'apologie de délits et de crimes, notamment meurtre, viol, crimes de guerre et crimes contre l'humanité ou incitant à la consommation de substances interdites ou incitant au suicide.</li>
    <li>A caractère raciste, antisémite, xénophobe, révisionniste, à caractère violent, discriminant, obscène, pornographique, pédopornographique ou pédophile</li>
    <li>Portant atteinte aux droits de la personnalité, au droit à l'image, aux droits d'auteur, et plus généralement aux droits de la propriété intellectuelle et industrielle (marques, brevets, etc.)</li>
    <li>Portant atteinte à l'image d’EASY ENDO et/ou de M&E CARE et/ou de tout professionnel intervenant sur EASY ENDO.</li>
    <li>Dans le but de nuire au forum, générant une mauvaise ambiance ou un mauvais esprit.</li>
    <li>Les "procès d’intention" conduits par un ou plusieurs intervenants.</li>
    <li>Les spéculations ou révélations à propos de l'identité de tel intervenant.</li>
    <li>Les messages sans rapport avec le forum (messages hors sujets, incompréhensibles).</li>
    <li>Les messages écrits dans une autre langue que le français.</li>
    <li>L’utilisation abusive des majuscules dans le message.</li>
    <li>L’utilisation de smileys non appropriés.</li>
    <li>Les petites annonces, messages à des fins d'enquêtes, de concours, de publicités, de ventes pyramidales ou autres opérations similaires, courriers en chaîne, pourriels, spams, publicités ou éléments promotionnels non sollicités, publicités et liens hypertextes vers d'autres sites.</li>
    <li>Les messages émanant d'organisations syndicales ou politiques.</li>
    <li>Les messages à caractère politique ou religieux</li>
    <li>Les messages identiques ou similaires répétitifs saturant le forum.</li>
  </ul>
<p>Cette liste n'est pas exhaustive.</p>
<p>Les sanctions prises à l’encontre d’un Utilisatrice varient en fonction de la gravité des propos tenus et de la fréquence des perturbations ; elles sont prises à l’entière discrétion de M&E CARE et ne sauraient ouvrir droit à de quelconques recours ou indemnités au profit de l’Utilisatrice sanctionnée.</p>
<h3>4) Alerter le modérateur<h3>
<p>Vous avez la possibilité de signaler à notre équipe tout message que vous trouveriez non conforme à cette Charte en adressant un email à l’adresse suivante : bonjour@easyendo.fr ou via le formulaire de contact présent sur l’application.</p>
<h3>5) Questions médicales<h3>
<p>Si vous formulez des allégations médicales et/ou scientifiques sur le forum de discussion, celles-ci doivent avoir été vérifiées préalablement et être ainsi à priori véridiques et correctes. Chaque Utilisatrice est invitée à indiquer les sources et éléments de preuve (références, article scientifique, presse médicale ou générale, etc.) des données médicales et/ou scientifiques diffusées si elles ne proviennent pas de son expérience personnelle.</p>
<p>Un médecin de la rédaction d’EASY ENDO peut être sollicité par les modérateurs dans leur travail de vérification des messages. Cependant, il n'intervient pas directement dans les discussions et ne répondra à aucune demande d'information de type médical. En aucun cas les informations publiées sur le forum sont susceptibles de se substituer à une consultation, une visite ou un diagnostic formulé par un médecin ou autre professionnel de santé. Seuls les professionnels de santé compétents sont habilités à prescrire et/ou dispenser des traitements appropriés et en déterminer leur fréquence et durée. Aucun message publié sur le forum ne doit être interprété comme un conseil ou une recommandation ni un fondement sur lequel baser une décision, un diagnostic médical ou une action.<p>
<h3>6) Responsabilité<h3>
<p>En application de l’article 6 de la loi N° 2004-575 pour la confiance dans l’économie numérique (LCEN), l’Utilisatrice assume la responsabilité de l’édition des messages et contenus qu’elle intègre et diffuse sur les espaces de discussions. A ce titre, l'Utilisatrice est seule maître de la bonne utilisation, avec discernement et esprit, du forum. L’Utilisatrice reconnaît et accepte expressément faire son affaire personnelle de toute conséquence, réclamation, recours ou action d’une autre Utilisatrice ou d’un tiers, relativement au contenu qu’elle édite sur le forum.</p>

<p>Les Utilisatrices reconnaissent que M&E CARE assume la seule responsabilité d'un prestataire technique d’hébergement du forum, tel que défini à l'article 6 de la loi précitée, au titre des messages et contenus produits par les Utilisatrices dans le cadre des forums de discussion et à ce titre que :<p>
  <ul>
    <li>M&E CARE n'assume aucune responsabilité au titre de l'exactitude, l'exhaustivité, l’actualité ou autre qualité et de la conformité légale des messages et contenus, quels qu'ils soient (textes, sons, vidéos, graphismes, photos ou autres) ainsi produits librement par les Utilisatrices,</li>
    <li>Dans l’hypothèse où une revendication d’une autre Utilisatrice ou d’un tiers serait portée directement à la connaissance de M&E CARE, celle-ci procédera à des investigations concernant la demande et confrontera le requérant à l’Utilisatrice,</li>
    <li>Le cas échéant, conformément à ses obligations légales, M&E CARE supprimera lesdits messages et contenus dont il est avéré qu’il porte atteinte aux droits d’une autre Utilisatrice ou d’un tiers, après qu'un tiers ait fait valoir le caractère illicite du contenu concerné,</li>
    <li>M&E CARE communiquera, conformément à ses obligations légales et sur demande formelle des autorités judiciaires les éléments permettant l'identification des Utilisatrices ayant contribué à ce contenu illicite,</li>
  </ul>
<p>
En application de l’article « Durée – Résiliation » des conditions générales d’utilisation de EASY ENDO, M&E CARE se réserve le droit de suspendre ou résilier tout ou partie de l’accès de l’Utilisatrice aux Services ;</p>
<p>M&E CARE se réserve, en tout état de cause, le droit d’agir à l’encontre de l’Utilisatrice éditrice du contenu illicite, en réparation du préjudice subi par son comportement.</p>
