<div class="pb-5 padding-top-navbar min-100-vh-with-footer">
  <div class="container">
    <div class="col-12 col-md-10 offset-md-1">
      <h1 class='text-center'>Créer un sujet de discussion</h1>
      <%= render 'form', subject: @subject %>
    </div>
  </div>
</div>
