.category-bullet {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.category-bullet-big  {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.food {
  background-color: #FFC700;
}

.generalities {
  background-color: #47D1AC;
}

.diagnostic {
  background-color: #26408B;
}

.treatment {
  background-color: #16DB65;
}

.fertility {
  background-color: #F4A678;
}

.sexuality {
  background-color: #E27DEF;
}

.sport {
  background-color: #FF8900;
}

.administrative {
  background-color: #7D98A1;
}

.diagnostic {
  background-color: #26408B;
}

.research {
  background-color: #197278;
}

.exam {
  background-color: #F0308A
}

.radiography {
  background-color: #26418B
}

.wrapper-horizontal-scroll-mobile {
  overflow-x: scroll;
}
