@media (max-width: 768px)  {
  input#query.form-control {
    width: 100%;
  }
}

@media (min-width: 769px)  {
  input#query.form-control {
    width: 400px;
  }
}

input#query {
  text-indent: 35px;
}

input#query.form-control {
  border-radius: 30px;
  border: $light-green-gray 1px solid;
}

input#query::placeholder {
  color: $light-green-gray;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 0;
  width: 24px;
  background: image-url("search.svg") center / contain no-repeat;
}
