.bg {
  background-image: image-url("backgrounds/bg-desktop.svg");
  background-position: 0% 150px;
  background-repeat: no-repeat;
  background-size: 90% auto;
}

@media (max-width: 768px)  {
  .bg {
    background-image: image-url("backgrounds/bg-mobile.svg");
    background-size: 100% auto;
  }
}

.bg-darker {
  background-color: $green;
  background-image: image-url("backgrounds/bg-mobile-darker.svg");
  background-position: 0% 20px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

