.green-bullet {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: -1px;
  left: -10px;
  position: relative;
  background-color: $light-green;
  border: 1px solid $green;
  content: '';
  display: inline-block;
  visibility: visible;
}

.pink-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $light-pink;
}
