.green-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 8px;
  background-color: $light-green;
  border: 1px solid $green;
  content: '';
  display: inline-block;
  visibility: visible;
}

.notif-pink-bullet {
  background-color: $pink;
  color: white;
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 9px;
}
