.btn-ee {
  border-radius: 36px;
  padding: 8px 24px;
}

.btn-small {
 padding: 4px 8px;
 font-size: 14px;
 font-weight: lighter;
}

.btn-ee-large {
  border-radius: 36px;
  padding: 16px 42px;
}

.btn-ee-square {
  border-radius: 6px;
  padding: 8px 16px;
}

.btn-pink {
  background-color: $light-pink;
  color: $green;
}

.arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.arrow-top {
  background-image: image-url("arrow-top.svg");
}

.arrow-bottom {
  background-image: image-url("arrow-bottom.svg");
}

.published {
  border-radius: 36px;
  padding: 4px 8px;
  background-color: $light-green;
  color: $green;
  font-size: 10px;
}

.unpublished {
  border-radius: 36px;
  padding: 4px 8px;
  border: 1px solid $green;
  color: $green;
  font-size: 10px;
}

.pink-mail-to {
  color: $pink;
  font-weight: 600;
  &:hover {
    color: $pink;
  }
}

button {
  outline: none !important;
}

.filter-link {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 400;
}
.filter-link:hover {
  text-decoration: underline;
}

