.chart-container {
  position: relative;
  margin: auto;
  height: 150px;
  width: 100%;
}

.graphs-container {
  h3 {
    font-size: 14px;
    padding-left: 40px;
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
