h1,h2,h3 {
  color: $primary;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

a {
  color: $primary;
  font-weight: 700;
  font-size: 24px;
  &:hover {
    color: $primary;
  }
}

body,p,text {
  font-weight: 400;
  font-size: 22px;
}

.text-small {
  font-size: 20px;
}
.text-mini {
  font-size: 14px;
  font-weight: 400;
}

label {
  font-size:20px;
}

.text-green {
  color: $green;
}

.form-text.text-muted {
  font-size: 16px;
}


@media (max-width: 1400px)  {
  body,p,text,a, label {
    font-size: 18px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  .text-small {
  font-size: 16px;
  }

  .text-mini {
    font-size: 13px;
  }

  .form-text.text-muted {
  font-size: 14px;
}

}

.text-ee {
  color: $pink;
  font-weight: 600;
  font-family: $headers-font;
}

.text-pink {
  color: $pink;
}

.text-header {
  font-family: $headers-font;
}

.text-body-font {
  font-family: $body-font;
}
