@media (min-width: 993px)  {
  footer {
    height: 380px;
  }
}

@media (max-width: 992px)  {
  footer {
    height: 550px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $green;
  color: white;
}

.logo-footer {
  max-width: 175px;
}

.footer-title {
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
  font-family: 'Lato';
  font-size: 16px;
  display: inline-block;
}

.footer-subtitle {
  a {
    color: white;
    font-family: 'Quicksand';
    font-size: 15px;
    font-weight: 400;
  }
}

@media (min-width: 993px)  {
  footer {
    a {
      i {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 992px)  {
  footer {
    a {
      i {
        font-size: 30px;
      }
    }
  }
}

.border-col-footer-mobile {
  border-right: 1px solid white;
}
