.daily_symptom_sport, .daily_symptom_emergency, .daily_symptom_analgesic {
  .form-check-label {
    display: flex;
    flex-direction: column-reverse;
  }
  .form-check {
    padding-left: 0px;
  }
  legend {
    display:none;
  }
  input[type=checkbox] {
    display: none;

    & + label:before {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      top: 2px;
      left: 5px;
      position: relative;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $pink;
    }

    &:checked + label:before {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      top: 2px;
      left: 5px;
      position: relative;
      background-color: $pink;
      content: '';
      display: inline-block;
      visibility: visible;
    }
  }
}

.user_forum_consent {
  .form-check-label {
    display: flex;
    flex-direction: column-reverse;
  }
  .form-check {
    padding-left: 0px;
  }
  legend {
    display:none;
  }
  input[type=checkbox] {
    display: none;

    & + label:before {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      top: 2px;
      left: 49%;
      position: relative;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $pink;
    }

    &:checked + label:before {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      top: 2px;
      left: 49%;
      position: relative;
      background-color: $pink;
      content: '';
      display: inline-block;
      visibility: visible;
    }
  }
}

textarea#daily_symptom_notes {
  box-shadow: 0px 0px 6px $light-green;
  border: 1px solid $light-green;
  border-radius: 18px;
  height: 200px;
  color: $green;
  padding: 5px 10px;
}

.form-group.daily_symptom_notes {
  margin-bottom: 0px;
}

.no-margin-form-group .form-group {
  margin-bottom: 0;
}

.symptom-icon {
  height: 45px;
}

.insomnia-icon {
  height: 21px;
  width:21px;
}

@include media-breakpoint-up(lg) {
  .column-border-left {
    border-left: 1px solid #e9ecef;
  }
}
