.form-control {
  border-color: $light-green-gray;
  border-radius: 8px;
}

.form-control::placeholder {
  color: $light-green-gray;
  font-size: 14px;
}

.form-text.text-muted {
  color: $light-green-gray !important;
}

label {
  color: $green;
}

.form-check-input {
  margin-top: 0.5rem;
}

.form-control:focus {
    border-color: transparent;
}

