input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

textarea, input { outline: none; }

.form-control {
  border-color: $light-green-gray;
  border-radius: 8px;
  padding: 0.375rem;
}

.form-control.is_valid {
  padding: 0.75rem;
}

.form-control::placeholder {
  color: $light-green-gray;
  font-size: 14px;
}

.form-text.text-muted {
  color: $light-green-gray !important;
}

label {
  color: $green;
}

.form-check-input {
  margin-top: 0.5rem;
}

@media (min-width: 1400px)  {
  .user_remember_me {
    .form-check-input {
      margin-top: 0.75rem;
    }
  }
}

.form-control:focus {
    border-color: transparent;
}

input.new_information {
  width: 200px;
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1px;
  height: 1px;
  border-radius: 50%;
}

input[type='radio']:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1px;
  height: 1px;
  border-radius: 50%;
}

input[type='radio']:after {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -10px;
    left: -4px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid $pink;
}

input[type='radio']:checked:after {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -10px;
    left: -4px;
    position: relative;
    background-color: $pink;
    content: '';
    display: inline-block;
    visibility: visible;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: $green;
}

.form-control[readonly] {
  background-color: white;
}

.edit_information, .new_information {
  label {
    font-family: $headers-font;
  }

  label.form-check-label {
    font-family: $body-font;
  }
  input#information_diagnosis_age {
    height: 34px;
  }
  .form-control#information_diagnosis_age::placeholder {
    text-align: right;
  }
  .form-control#information_diagnosis_age {
    -webkit-padding-before:10px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 4px;
  }
  .form-control#information_size::placeholder, .form-control#information_weight::placeholder {
    text-align: right;
    -moz-appearance: none;
  }

  input[type= 'text'] {
    &#information_diseases_attributes_0_name {
      margin-left: 10px !important;

    }
    &#information_alternative_therapies_attributes_0_name {
      margin-left: 10px !important;
    }
    max-width: 180px;
    margin: auto;
  }
  input[type= 'number'] {
    max-width: 70px;
    margin: auto;
  }
  .form-group {
    margin-bottom: 40px;
  }

  label {
    font-weight: 800;
    padding-bottom: 0;
  }

  label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -1px;
    left: -10px;
    position: relative;
    background-color: $light-green;
    border: 1px solid $green;
    content: '';
    display: inline-block;
    visibility: visible;
  }

  label.form-check-label {
    font-weight: 400;
  }

  label.form-check-label:before {
    visibility: hidden;
    display: block;
  }
  .information_terms_conditions {
    label {
      font-size: 12px;
    }
  }
  .form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
    opacity: 0.2;
    color: $green;
  }
  .form-control:disabled {
    background-color: white;
    opacity: 0.2;
  }
}

@media (min-width: 540px) {
  .edit_information, .new_information {
    input[type= 'number'] {
      max-width: 80px;
      margin: auto;
    }
  }
}

.information_imc, .information_size, .information_weight {
  -moz-appearance: none;
  text-align:center;
  input {
    font-size: 12px;
  }
}

.center-radio {
  justify-content: space-between;
  padding-right: 45px;
  padding-left: 45px;
}

.center-radio.fam-situation {
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 992px) {
  .center-radio {
    justify-content: space-evenly;
  }
  .center-radio.fam-situation {
    justify-content: space-evenly;
  }
}

.information_children_number, .information_miscarriage_number, .information_abortion_number, .information_endo_surgery_number {
  margin-right: 10px;
  position: relative;
  input {
    position: absolute;
    top : -70px;
    right: 0;
    left: 0;
  }
}

.form-control:focus {
    border-color: transparent;
}

.information_diseases, .information_alternative_therapies {
  legend {
    display:none;
  }
  input[type=checkbox] {
    display: none;
    vertical-align: middle;

    & + label:before {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: 2px;
      right: 0px;
      position: relative;
      background-color: white;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $pink;
    }

    &:checked + label:before {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: 2px;
      right: 0px;
      position: relative;
      background-color: $pink;
      content: '';
      display: inline-block;
      visibility: visible;
    }
  }
}

.information_auto_immune_antecedent, .information_family_antecedent, .information_alternative_therapy {
  margin-bottom:15px !important;
}


.custom-checkbox {
  position: relative;
  legend {
    display:none;
  }
  label {
    position:absolute;
    left: 20px;
    top: -40px;
    font-weight: 400;
  }
  input[type=checkbox] {
    display: none;
    vertical-align: middle;

    & + label:before {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: 2px;
      right: 0px;
      position: relative;
      background-color: white;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $pink;
    }
    &:checked + label:before {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: 2px;
      right: 0px;
      position: relative;
      background-color: $pink;
      content: '';
      display: inline-block;
      visibility: visible;
    }
  }
}

.disabled-opacity {
  opacity: 0.2;
  color: $green;
}


.information_fam_member_antes {
  legend {
    display:none;
  }
  input[type=checkbox] {
    display: none;

    & + label:before {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: 2px;
      right: 0px;
      position: relative;
      background-color: white;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $pink;
    }

    &:checked + label:before {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: 2px;
      right: 0px;
      position: relative;
      background-color: $pink;
      content: '';
      display: inline-block;
      visibility: visible;
    }
  }
}

@media (min-width: 768px) {
  .information_fam_member_antes {
    display: flex;
    justify-content: space-between;
    .collection_check_boxes {
      margin-top: 15px;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .information_fam_member_antes {
    legend {
      display:none;
    }
    input[type=checkbox] {
      display: none;

      & + label:before {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        top: 2px;
        background-color: white;
        content: '';
        left: 35%;
        position: relative;
        visibility: visible;
        border: 1px solid $pink;
      }

      &:checked + label:before {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        top: 2px;
        left: 35%;
        position: relative;
        background-color: $pink;
        content: '';
        visibility: visible;
      }
    }
  }
}
