.feature-name {
  background-color: $light-green;
  border-radius: 6px;
  padding: 3px 10px;
  text-transform: uppercase;
  color: $green;
  font-weight: 700;
  font-family: "Quicksand";
}

@media (min-width: 993px)  {
  .min-100-vh-with-navbar-footer {
    min-height: calc(100vh - 470px); // minus navbar and footer
  }
}

@media (max-width: 992px)  {
  .min-100-vh-with-navbar-footer {
    min-height: calc(100vh - 590px); // minus navbar and footer
  }
}

.text-underline {
  border-bottom: $green 2px solid;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 992px)  {
  .main-container {
    padding-bottom: 380px; /* height of your footer */
  }
}

@media (max-width: 991px)  {
  .main-container {
    padding-bottom: 500px; /* height of your footer */
  }
}


.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
}
