::selection {
  background-color: #F1F8F4;
}

.feature-name {
  background-color: $light-green;
  border-radius: 6px;
  padding: 3px 10px;
  text-transform: uppercase;
  color: $green;
  font-weight: 700;
  font-family: "Quicksand";
}

@media (min-width: 993px)  {
  .min-100-vh-with-footer {
    min-height: calc(100vh - 380px); // minus footer
  }
}

@media (max-width: 992px)  {
  .min-100-vh-with-footer {
    min-height: calc(100vh - 550px); // minus navbar and footer
  }
}

.text-underline {
  border-bottom: $green 2px solid;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 992px)  {
  .main-container {
    padding-bottom: 380px; /* height of your footer */
  }
}

@media (max-width: 991px)  {
  .main-container {
    padding-bottom: 550px; /* height of your footer */
  }
}


.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
}

.min-h-100 {
  min-height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.input-blue input, .input-blue textarea {
  color: $green;
}

.input-blue .btn-ee {
  color: white;
}

.cookie-alert {
  position: fixed;
  bottom: 15px;
  right: 0px;
  z-index: 1000;
  color: $green;
  background-color: #f5faf7;
  border-color: #f2f8f4;
  padding: 20px;
  padding-top: 40px;
  margin-right: 15px;
  margin-left: 15px;
}
