.feature-name {
  background-color: $light-green;
  border-radius: 6px;
  padding: 3px 10px;
  text-transform: uppercase;
  color: $green;
  font-weight: 700;
  font-family: "Quicksand";
}

.min-100-vh-with-navbar-footer {
  min-height: calc(100vh - 480px); // minus navbar and footer
}

.text-underline {
  border-bottom: $green 2px solid;
}

a:hover {
  text-decoration: none;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 380px; /* height of your footer */
}
