.navbar-lewagon {
  justify-content: space-between;
  height: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 175px;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-bg {
  background: $light-pink;
  position: fixed;
  width: 100%;
  z-index:1000;
}

.navbar-bg-white {
  background: white;
  position: fixed;
  width: 100%;
  z-index:1000;
}

.navbar {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

a.nav-link {
  color: $green !important;
  font-family: "Quicksand";
  font-size: 16px;
}

.nav-item {
  margin: 0px 6px;
}

.nav-item.dropdown {
  margin: 0px
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: 0px auto !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: image-url("burger-menu.svg");
}

.padding-top-navbar {
  padding-top: 120px;
}

.w-54 {
  width: 54px;
}

#menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  overflow-y: scroll;

  z-index: 1000;
  transform: translateX(-992px);
  opacity: 0;
  transition: transform .5s ease-in-out;

  &.visible {
    transform: translateX(0);
    opacity: 1;
  }
}

.dropdown-menu {
  background-color: $light-pink;
  color: $green;
  border-radius: 0 0 12px 12px;
  text-align: center;
  border: none;
  padding: 0px 16px 8px;
  margin-top: 12px;
}

@media (min-width: 650px) {
  .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
  }
}

.navbar-bg-white {
  .dropdown-menu {
    background-color: white;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    border-right: 1px solid rgba(200, 200, 200, 0.4);
    border-left: 1px solid rgba(200, 200, 200, 0.4);
  }

  .dropdown-item {
    border-top: 1px solid rgba(200, 200, 200, 0.4);

    &:hover {
      color: $green;
      background-color: white;
    }
  }
}

.dropdown-item {
  color: $green;
  font-family: $headers-font;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 600;
  padding: 0.25rem 0rem;

  &:hover {
    color: $green;
    background-color: $light-pink;
  }
}
