// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.thredded--is-compact li:not(.title) {
  opacity: 1 !important;
  height: auto !important;
  visibility: visible !important;
}
.thredded--is-compact input[type="submit"], .thredded--is-compact label {
  opacity: 1 !important;
  height: auto !important;
  visibility: visible !important;
}

.thredded--form-list--admin-options {
  display: none;
}

@import "thredded";

// Your CSS partials
@import "components/index";
@import "pages/index";
