<p>Bonjour <%= User.find_by(email: @email).first_name.capitalize %>,</p>

<p>Nous vous confirmons le changement de votre mot de passe sur easy endo (www.easyendo.fr).<p/>

<p>Si vous n'étiez pas à l'origine de cette modification, merci de contacter notre équipe à bonjour@easyendo.fr.</p>

<p>Bien à vous,</p>
<p>L'équipe easy endo</p>
LOGO EASY ENDO
