<div class="navbar-bg-white">
  <div class="container">
    <div class="navbar navbar-expand-lg navbar-light navbar-lewagon justify-content-center col-12 col-md-10 offset-md-1">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-pink.svg" %>
      <% end %>
    </div>
  </div>
</div>
